{% extends "base.html" %}

{% block content %}

<div class="flex justify-center" style="height: 80vh;">
  <div class="w-full md:w-1/2">
    <div class="text-center">
        <h4 class="text-xl font-bold text-slate-900">Select Ward</h4>
    </div>
    <div class="text-center">
        <form method="post">
          {% csrf_token %}
          <select name="ward_id" class="w-full px-4 py-2 border border-slate-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-center" required>
            <option value="">-- Select Ward --</option>
            {% for ward in wards %}
              <option value="{{ ward.id }}">
                {{ ward.get_full_name }}
              </option>
            {% endfor %}
          </select><br>

          <button class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors mt-3">
            Continue
          </button>
        </form>
    </div>
    </div>
</div>

{% endblock %}
