{% extends 'base.html' %}
{% load static %}

{% block content %}
       
<h3>Pickup History</h3>
<table class="table table-striped table-responsive-stack">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Students</th>
            <th>Expiry</th>
            <th>Status</th>
            <th>QR</th>
        </tr>
    </thead>
    <tbody>
        {% for pickup in pickups %}
        <tr>
            <td data-label="Reference">{{ pickup.reference }}</td>
            <td data-label="Students">
                {% for s in pickup.students.all %}
                {{ s.first_name }} {{ s.last_name }} ({{ s.student_class }})<br>
                {% endfor %}
            </td>
            <td data-label="Expiry">{{ pickup.expires_at }}</td>
                {% if pickup.is_used %}
                <td data-label="Status">{{ "Used" }}</td>
                {% else %}
                <td data-label="QR">{{"Active"}}</td>
                {% endif %}
            <td>
                <img src="{{ pickup.qrcode_image.url }}" style="height:50px;">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}