{% extends "base.html" %}
{% block title %}Delete Product{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm p-4 text-center">

        <h5 class="mb-3 text-danger">Delete Product</h5>

        <p>
            Are you sure you want to delete
            <strong>{{ product.name }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="{% url 'mpay:admin_product_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

                <button type="submit" class="btn btn-danger">
                    Yes, Delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
