{% load static %}



{% if cart and cart.items.exists %}
<div class="p-3 flex-grow-1 overflow-auto">
  {% for item in cart.items.all %}
    <div class="d-flex gap-2 mb-3">
      {% if item.product.image %}
        <img src="{{ item.product.image.url }}"  width="60" height="60" class="rounded" style="object-fit: cover;">
      {% else %}
        <img src="{% static 'images/default_product.png' %}"  width="60" height="60" class="rounded" style="object-fit: cover;">
      {% endif %} 
   
    <div class="flex-grow-1">
        <div class="fw-semibold">{{ item.product.name }}</div>
        <small>₦{{ item.product.price }} x {{ item.quantity }} = </small> 
        <small>₦{{ item.subtotal }}</small>
        <div class="d-flex align-items-center gap-2 mt-1">
            <button class="btn btn-sm btn-light"
                    onclick="updateQty('{{ item.id }}','dec')">−</button>
            <span>{{ item.quantity }}</span>
            <button class="btn btn-sm btn-light"
                    onclick="updateQty('{{ item.id }}','inc')">+</button>
            <button class="btn btn-sm btn-outline-danger"
                    onclick="removeItem('{{ item.id }}')">
                <i class="bi bi-trash"></i>
            </button>
          </div>
      </div>
  </div>
  {% endfor %}

  <hr class="my-3">
    <button class="btn btn-outline-danger w-100 mt-2 mb-3 py-2 border-2 rounded-3 d-flex align-items-center justify-content-center gap-2 fw-semibold shadow-sm"
            onclick="clearCart()"
            style="--bs-btn-hover-bg: #dc3545;">
        <i class="bi bi-trash3"></i>
        Empty Cart
    </button>

  <hr>
  
    <div class="fw-bold text-end">
      Total: ₦{{ cart.total_amount }}
    </div>

  </div>
  <form method="POST" action="{% url 'mpay:checkout' %}">
    {% csrf_token %}
    <input type="hidden" name="ward_id" value="{{ cart.ward.id }}">
    
    <button type="submit" class="btn btn-primary w-100">
      Proceed to Payment
  </button>
</form>

    
  {% else %}
  <div class="p-4 text-center text-muted">
      Cart is empty
  </div>
  {% endif %}
